	ul{
	list-style-type: none;
	margin: 50;
	padding: 5;
	overflow: hidden;
	background-color: #333;
}
	li{
	float: left;
	}
	li a{
	display: block;
	color: #ffc3a0;
	text-align: center;
	padding: 18px 20px;
	text-decoration: none;
	}
	li a:hover{
	background-color: #7a5c8d;
	}

h1, h2
{
	font-family: calibri, serif;
	font-size: 32px;
    color: #7a5c8d;

}
h3, h4
{
	font-family: calibri, serif;
	font-size: 20px;
    color: #7a5c8d;

}

p{
	font-family: calibri, serif;
	font-size: 15px;
	text-align: left;
}

.jornal{
-webkit-column-count: 3;
-moz-column-count: 3;
 column-count: 3;
-webkit-column-gap: 40px;
-moz-column-gap: 40px;
 column-gap: 40px;
-webkit-column-rule: 1px solid lightblue;
-moz-column-rule: 1px solid lightblue;
 column-rule: 1px solid lightblue;

}

.jornal img{
	box-shadow: 4px 4px 3px rgba(0,0,0,.8);
}
	
	li a: hover{
	background-color:#4caf50;
	}
	